<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Emilys+Candy&family=Nosifer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>HorrorLands - Stay Updated On All Things Horror!</title>
</head>
<body>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/movies">Movies</a>
        <a href="/conventions">Conventions</a>
        <a href="/memorabilia">Memorabilia</a>
        <a href="/music">Music</a>
    </nav>
    <div class="pages">
    <h1>Articles</h1>
    </div>

    <div class="card" style="width: 18rem;">
    <ul>
        <% for (let i = 0; i < arts.length; i++) { %>
            <li>
                <div class="card-body">
                <a href="<%=arts[i].link%>" target="_blank" rel="noopener noreferrer">
                <%= arts[i].title %> </br>
                <img src="<%= arts[i].img %>" class="img-fluid" class="card-img-top">  </br>
                </a>
                <p class="card-text"><%= arts[i].description %></p>
                 </div>
            </li>
    <% } %>
    </ul>
</div>
</body>
</html>