<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="./css/style.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Emilys+Candy&family=Nosifer&display=swap" rel="stylesheet">
        <title>HorrorLands - Stay Updated On All Things Horror!</title>
    </head>
<body>
        <video autoplay muted loop id="myVideo">
            <source src="./mp4/horroredit.mp4" type="video/mp4">
        </video>
<div class="content">
    <h1>HorrorLands</h1>
</div>
    <p class="homeSub">Your final destination to the latest horror news.</p>
        <form action="/" method="post" class="email">
            Sign up here! <input type="text" name="email" placeholder="enter your email">
            <input type="submit" value="Send">
            <!-- <p id="text" style="display:none">Email stored!</p> -->
            <!-- inside input submit -- id="send" onclick="myFunction()" -->
        </form>
            <!-- <% function myFuction() { %>
            <% let sent = document.getElementById("send"); %>
            <% let text = document.getElementById("text"); %>
            <% if (sent == true){ %>
            <%  text.style.display = "block"; %>
            <% } else { %>
            <% text.style.display = "none"; %>
            <% } %>
            <% } %> -->
     <nav class="nav">
        <a href="/articles">Articles</a>
        <a href="/movies">Movies</a>
        <a href="/conventions">Conventions</a>
        <a href="/memorabilia">Junkyard</a>
        <a href="/music">Music</a>
     </nav>
</body>
</html>