<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>HorrorLands - Stay Updated On All Things Horror!</title>
</head>
<body>
    <nav class="nav">
        <a href="/articles">Articles</a>
        <a href="/music">Music</a>
        <a href="/conventions">Conventions</a>
        <a href="/">Home</a>
        <a href="/music">Music</a>
    </nav>
    <div class="pages">
    <h1>Memorabilia</h1> 
    <p>Collectibles, costumes, posters, and more.</p>
    </div>
</body>
</html>