<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>HorrorLands - Stay Updated On All Things Horror!</title>
</head>
<body>
    <nav class="nav">
        <a href="/articles">Articles</a>
        <a href="/">Home</a>
        <a href="/conventions">Conventions</a>
        <a href="/memorabilia">Memorabilia</a>
        <a href="/music">Music</a>
    </nav>
    <div class="pages">
    <h1>Movies</h1>
    <p>IN THEATERS NOW</p>
    </div>
</body>
</html>