<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Emilys+Candy&family=Nosifer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>HorrorLands - Stay Updated On All Things Horror!</title>
</head>
<body class="musPage">
    <nav class="nav">
        <a href="/articles">Articles</a>
        <a href="/movies">Movies</a>
        <a href="/conventions">Conventions</a>
        <a href="/memorabilia">Junkyard</a>
        <a href="/">Home</a>
    </nav>
<div class="pages">
        <h1>Music</h1> 
        <p>Soundtracks and moods</p>
</div>
    <div class="addCon">
        <p><em>inspired by and heard on the big screen.</em></p>
    </div>
        <a href="/music/new" class="btn btn-outline-light btn-sm musicBtn">Add a Similar Track</a>
    <div class="videos">
            <% for (let i = 0; i < tube.length; i++) { %>
        <iframe width="320" height="300" src="<%= tube[i].link %>" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <form action="/music/<%=tube[i].id%>?_method=DELETE" method="POST"> <input type="submit" value="X" class="btn btn-danger btn-sm"></form>
            <% } %>
    </div>
</body>
</html>