<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./">
        <title>HorrorLands - Stay Updated On All Things Horror!</title>
    </head>
</head>
<body>
    <a href="/conventions">Return to List</a>
    <h1><%=con.name%></h1>
    <%=con.links%>
</body>
</html>