#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

img {
    height: 200px;
    width: 200px;
}

body {
    background-color: black;
}

.email {
    margin-top: 400px;
}

ul {
   list-style: none;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
}

.pages {
    margin-top: 40px;
    color: red;
    text-align: center;
    text-shadow: 0px 3px 2px white;
    font-family: 'Nosifer', cursive;
}

.addCon {
    color: yellow;
    text-align: center;
}

.button {
    text-decoration: none;
    color: white;

}

.content {
    position: fixed;
    text-align: center;
    color: wheat;
    text-shadow: 0px 3px red;
    font-size: 60px;
    font-family: 'Eater', cursive;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 110px;
}

.homeSub {
    position: fixed;
    text-align: center;
    font-size: large;
    color: wheat;
    text-shadow: 0px 3px red;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 160px;
}

.nav a {
    padding-left: 170px;
    position: relative;
    text-decoration: none;
    color: red;
    text-shadow: 0px 2px black;
    font-family: 'Eater';
}

.nav {
    padding-top: 20px;
}

.email {
    position: fixed;
    text-align: center;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding-top: 40px;
}

.row {
    padding-left: 24px;
    padding-right: 23px;
    padding-bottom: 20px;
}

.card-body {
    background-color: black;
    padding-bottom: 30px;

}

.card {
    background-color: black;
}

#conContainer {
    background-image: none;
    background-color: transparent;
    border-style: none;
    margin-top: 0px;
}

.conBody {
    background-size: contain;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(170, 20, 20);
    background-color: rgb(234, 239, 243);
}

.container {
    margin-top: 25px;
    padding-top: 40px;
    background-color: lightgrey;
    border-radius: 5px;
    border-style: groove;
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/88/44/24/1000_F_288442436_AhShMHPzhcNMFw1RhUPwb0KOI2oMNNcN.jpg");
    background-size: contain;
}

.card-text {
    text-align: center;
    font-size: small;
    color: white;
}

.card-title {
    text-align: center;
    font-size: medium;
}

.img-thumbnail {
   background-color: lightgray;
}

.con-img {
    color: white;
    background-color: lightgray;
}

.conName {
    text-align: center;
    font-size: larger;
}

.conText {
    text-align: center;
}

.btn-outline-light {
    margin-top: 15px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    margin: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 60px;
    margin: 10px;
}

.item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.musicBtn {
    margin-left: 645px;
}

.carousel-inner {
    padding-left: 620px;
    padding-bottom: 200px;
    padding-top: 60px;
}

.carousel-indicators {
    margin-bottom: 70px;
}

.musPage {
    background-image: url("https://i.pinimg.com/564x/d4/b3/07/d4b3077963315108baa9f4ae2b7c975e.jpg");
    background-size: contain;
}

.conPage {
    background-image: url("https://i.pinimg.com/564x/ea/67/68/ea6768a28030857b56c37bb2f07b3a33.jpg");
    background-size:contain;
}